@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}
ul li a{
    text-decoration: none;
    color: black;
}
.lager-size{
    font-size: 4rem;
    line-height: 76.8px;
    font-weight: 700;
    padding-top: 20px;
}
.pra{
    font-size: 1.5rem;
}
::-webkit-scrollbar{
    width: 5px;
    height: 2px;
}
::-webkit-scrollbar-thumb{
    background: rgba(244, 67, 53, 1);
}




@media (max-width: 991px) {
    /* Medium (md) screens and above */
    .small-screen{
        padding-left: 40px;
        text-align: center;
        align-items: center;
    }
    b{
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
    }
    .btn-center{
        right: 0;
    }
    .img-top{
        visibility: hidden;
    }
    .lager-size{
        font-size: 3rem;
        line-height: 76.8px;
        font-weight: 700;
    }
}